.judultabel {
    text-align:center;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    text-align: left;
}
th {
    color: antiquewhite;
    background-color: #2e2e2e;
}
